flows.json
[
    {
        "id": "e0dfb35bea34b5fc",
        "type": "tab",
        "label": "Coleta Seletiva",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4efc29f9.053c08",
        "type": "subflow",
        "name": "SEMEQ - Matrix Criticidade",
        "info": "",
        "category": "SEMEQ",
        "in": [
            {
                "x": 100,
                "y": 180,
                "wires": [
                    {
                        "id": "e763c973.f90378"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 180,
                "wires": [
                    {
                        "id": "106ffc63.d55bc4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "plant_id",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#A6BBCF",
        "icon": "node-red/white-globe.svg",
        "status": {
            "x": 520,
            "y": 240,
            "wires": [
                {
                    "id": "a674285e.4ed3d8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "543ed8e.2ffbc28",
        "type": "subflow",
        "name": "SEMEQ - Alarmes 24h",
        "info": "",
        "category": "SEMEQ",
        "in": [
            {
                "x": 240,
                "y": 180,
                "wires": [
                    {
                        "id": "6cc9e5b6.b36b5c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 860,
                "y": 180,
                "wires": [
                    {
                        "id": "599dbc60.d56344",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "plant_id",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#A6BBCF",
        "icon": "node-red/white-globe.svg",
        "status": {
            "x": 720,
            "y": 260,
            "wires": [
                {
                    "id": "c50c4338.7a0b2",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2ae81953ba334aab",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4b6e3c772ac8c589",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "Files",
        "icon": "dashboard",
        "disabled": true,
        "hidden": false
    },
    {
        "id": "0449b3b1fea99d52",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": true,
        "hidden": false
    },
    {
        "id": "ff3b7c9c.91ce28",
        "type": "ui_tab",
        "name": "DonutGaugeClock",
        "icon": "dashboard",
        "order": 5,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "a2490d0e.a872b",
        "type": "ui_tab",
        "name": "Homey Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "bf9cdcc.4e7c92",
        "type": "ui_tab",
        "name": "Startscherm",
        "icon": "home",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "b4c867ea06f5361b",
        "type": "dashbored-server",
        "name": "",
        "weatherLat": "-37.8136",
        "weatherLong": "144.9631",
        "weatherUnit": "metric",
        "apiKey": ""
    },
    {
        "id": "a0df2906b31448c2",
        "type": "ui-base",
        "name": "UI Name1",
        "path": "/dashboard"
    },
    {
        "id": "d4753e281cee07db",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "8f7d182cd8170eb4",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#60f312",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "9f1531f58de5b4e4",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard"
    },
    {
        "id": "f18a2699a1d7f99b",
        "type": "ui_tab",
        "name": "Coleta Seletiva",
        "icon": "recycle",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1475b9a1c42b1155",
        "type": "ui_group",
        "name": "teste",
        "tab": "4b6e3c772ac8c589",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3119d3ecdda2ec7",
        "type": "ui-page",
        "name": "Page Name",
        "ui": "9f1531f58de5b4e4",
        "path": "/",
        "layout": "notebook",
        "theme": "8f7d182cd8170eb4",
        "order": -1
    },
    {
        "id": "bd92aa2a4df4b6a1",
        "type": "ui_group",
        "name": "Coleta Seletiva",
        "tab": "f18a2699a1d7f99b",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "106ffc63.d55bc4",
        "type": "http request",
        "z": "4efc29f9.053c08",
        "name": "Get-site-priorization",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://online.semeq-api.com/get-site-priorization",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e763c973.f90378",
        "type": "function",
        "z": "4efc29f9.053c08",
        "name": "Parametros",
        "func": "msg.headers = {\n    \"x-api-key\":\"Heikp5Z2uN102reNzlqnD5m5AeqUPMpozQCtBqXc\"\n    \n}\nmsg.payload = {\n    plant_id:env.get(\"plant_id\")\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "106ffc63.d55bc4"
            ]
        ]
    },
    {
        "id": "a674285e.4ed3d8",
        "type": "status",
        "z": "4efc29f9.053c08",
        "name": "",
        "scope": [
            "106ffc63.d55bc4"
        ],
        "x": 340,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6cc9e5b6.b36b5c",
        "type": "function",
        "z": "543ed8e.2ffbc28",
        "name": "Parametros",
        "func": "msg.payload = {\n    plant_id:env.get(\"plant_id\"),\n    pg:0,\n    limit:1000\n}\nmsg.headers = {\n    \"x-api-key\":\"Heikp5Z2uN102reNzlqnD5m5AeqUPMpozQCtBqXc\"\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "599dbc60.d56344"
            ]
        ]
    },
    {
        "id": "599dbc60.d56344",
        "type": "http request",
        "z": "543ed8e.2ffbc28",
        "name": "Get-site-alarms24",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://online.semeq-api.com/get-site-alarms24",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c50c4338.7a0b2",
        "type": "status",
        "z": "543ed8e.2ffbc28",
        "name": "",
        "scope": [
            "599dbc60.d56344"
        ],
        "x": 480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3e0215fa276f5b60",
        "type": "ui_template",
        "z": "e0dfb35bea34b5fc",
        "d": true,
        "group": "1475b9a1c42b1155",
        "name": "",
        "order": 18,
        "width": 0,
        "height": 0,
        "format": "<style>\n  .form-container {\n    font-family: Arial, sans-serif;\n    background-color: #f4f4f4;\n    padding: 20px;\n    border-radius: 10px;\n    max-width: 500px;\n    margin: auto;\n  }\n  .form-container h2 {\n    text-align: center;\n    color: #2d2d2d;\n  }\n  .form-field {\n    margin-bottom: 15px;\n  }\n  .form-field label {\n    display: block;\n    margin-bottom: 5px;\n  }\n  .form-field input,\n  .form-field select,\n  .form-field textarea {\n    width: 100%;\n    padding: 10px;\n    border: 1px solid #ccc;\n    border-radius: 5px;\n  }\n  .form-field button {\n    width: 100%;\n    padding: 12px;\n    background-color: #4CAF50;\n    color: white;\n    border: none;\n    border-radius: 5px;\n    font-size: 16px;\n    cursor: pointer;\n  }\n  .form-field button:hover {\n    background-color: #45a049;\n  }\n  .confirmation {\n    margin-top: 20px;\n    padding: 10px;\n    background-color: #e7f4e4;\n    border-left: 5px solid #4CAF50;\n    display: none;\n  }\n</style>\n\n<div class=\"form-container\">\n  <h2>Informe os Dados para Coleta Seletiva</h2>\n  <div class=\"form-field\">\n    <label>Nome completo:</label>\n    <input type=\"text\" id=\"nome\" required>\n  </div>\n  <div class=\"form-field\">\n    <label>Telefone:</label>\n    <input type=\"text\" id=\"telefone\" required>\n  </div>\n  <div class=\"form-field\">\n    <label>Endereço:</label>\n    <input type=\"text\" id=\"endereco\" required>\n  </div>\n  <div class=\"form-field\">\n    <label>Tipo de resíduo:</label>\n    <select id=\"residuo\">\n      <option value=\"Eletrônicos\">Eletrônicos</option>\n      <option value=\"Plásticos\">Plásticos</option>\n      <option value=\"Papel\">Papel</option>\n      <option value=\"Metal\">Metal</option>\n      <option value=\"Outro\">Outro</option>\n    </select>\n  </div>\n  <div class=\"form-field\">\n    <label>Observações:</label>\n    <textarea id=\"observacoes\" rows=\"3\"></textarea>\n  </div>\n  <div class=\"form-field\">\n    <button onclick=\"enviarFormulario()\">Enviar</button>\n  </div>\n  <div class=\"confirmation\" id=\"confirmacao\"></div>\n</div>\n\n<script>\n(function(scope) {\n  function enviarFormulario() {\n    const nome = document.getElementById('nome').value;\n    const telefone = document.getElementById('telefone').value;\n    const endereco = document.getElementById('endereco').value;\n    const residuo = document.getElementById('residuo').value;\n    const observacoes = document.getElementById('observacoes').value;\n\n    if (!nome || !telefone || !endereco) {\n      alert(\"Por favor, preencha todos os campos obrigatórios.\");\n      return;\n    }\n\n    // Obter localização via geolocation\n    if (navigator.geolocation) {\n      navigator.geolocation.getCurrentPosition(function(position) {\n        const lat = position.coords.latitude;\n        const lon = position.coords.longitude;\n\n        const dados = {\n          payload: {\n            nome,\n            telefone,\n            endereco,\n            residuo,\n            observacoes,\n            localizacao: {\n              latitude: lat,\n              longitude: lon\n            }\n          }\n        };\n\n        scope.send(dados);\n\n        document.getElementById('confirmacao').innerHTML =\n          `<strong>Confirmação de Coleta:</strong><br>\n          Nome: ${nome}<br>\n          Telefone: ${telefone}<br>\n          Endereço: ${endereco}<br>\n          Tipo de resíduo: ${residuo}<br>\n          Observações: ${observacoes}<br>\n          Localização: Latitude ${lat}, Longitude ${lon}<br><br>\n          <em>Obrigado por contribuir para a proteção do meio ambiente!</em>`;\n        document.getElementById('confirmacao').style.display = 'block';\n      }, function(error) {\n        alert(\"Erro ao obter localização: \" + error.message);\n      });\n    } else {\n      alert(\"Geolocalização não suportada pelo navegador.\");\n    }\n  }\n\n  // Deixa a função acessível\n  scope.enviarFormulario = enviarFormulario;\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "961337da54b5d80a"
            ]
        ]
    },
    {
        "id": "961337da54b5d80a",
        "type": "debug",
        "z": "e0dfb35bea34b5fc",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "146c0973700ca672",
        "type": "inject",
        "z": "e0dfb35bea34b5fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "67605cb1a10cec04"
            ]
        ]
    },
    {
        "id": "67605cb1a10cec04",
        "type": "function",
        "z": "e0dfb35bea34b5fc",
        "name": "function 4",
        "func": "var keys = global.keys();\nfor(var i=0;i<keys.length; i++){\n    node.warn(keys[i])\n    global.set(keys[i]);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1a1e10c4faafc13a",
        "type": "ui_template",
        "z": "e0dfb35bea34b5fc",
        "group": "bd92aa2a4df4b6a1",
        "name": "Formulário Coleta Seletiva",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<style>\n  .form-container {\n    font-family: Arial, sans-serif;\n    max-width: 500px;\n    margin: auto;\n    background: #f9f9f9;\n    padding: 20px;\n    border-radius: 10px;\n    box-shadow: 0 0 10px rgba(0,0,0,0.2);\n  }\n\n  .form-container h3 {\n    text-align: center;\n    color: #2c3e50;\n  }\n\n  .form-group {\n    margin-bottom: 15px;\n  }\n\n  label {\n    display: block;\n    margin-bottom: 5px;\n    font-weight: bold;\n  }\n\n  input, select, textarea, button {\n    width: 100%;\n    padding: 10px;\n    box-sizing: border-box;\n    border-radius: 5px;\n    border: 1px solid #ccc;\n  }\n\n  button {\n    background-color: #27ae60;\n    color: white;\n    font-weight: bold;\n    cursor: pointer;\n    transition: background 0.3s ease;\n  }\n\n  button:hover {\n    background-color: #219150;\n  }\n\n  #resultado {\n    margin-top: 20px;\n    background: #ecf0f1;\n    padding: 15px;\n    border-radius: 8px;\n    color: #2c3e50;\n  }\n</style>\n\n<div class=\"form-container\">\n  <h3>Informe os Dados para Coleta Seletiva</h3>\n  <div class=\"form-group\">\n    <label>Nome completo:</label>\n    <input type=\"text\" id=\"nome\" />\n  </div>\n\n  <div class=\"form-group\">\n    <label>Telefone:</label>\n    <input type=\"tel\" id=\"telefone\" />\n  </div>\n\n  <div class=\"form-group\">\n    <label>Endereço:</label>\n    <input type=\"text\" id=\"endereco\" />\n  </div>\n\n  <div class=\"form-group\">\n    <label>Tipo de Resíduo:</label>\n    <select id=\"residuo\">\n      <option value=\"\">Selecione</option>\n      <option>Plástico</option>\n      <option>Papel</option>\n      <option>Metal</option>\n      <option>Vidro</option>\n      <option>Orgânico</option>\n      <option>Eletrônico</option>\n    </select>\n  </div>\n\n  <div class=\"form-group\">\n    <label>Observações:</label>\n    <textarea id=\"observacao\" rows=\"3\"></textarea>\n  </div>\n\n  <button onclick=\"enviar()\">Enviar</button>\n\n  <div id=\"resultado\"></div>\n</div>\n\n<script>\n(function(scope) {\n  function enviar() {\n    const nome = document.getElementById(\"nome\").value.trim();\n    const telefone = document.getElementById(\"telefone\").value.trim();\n    const endereco = document.getElementById(\"endereco\").value.trim();\n    const residuo = document.getElementById(\"residuo\").value;\n    const observacao = document.getElementById(\"observacao\").value.trim();\n    const resultado = document.getElementById(\"resultado\");\n\n    if (!nome || !telefone || !endereco || !residuo) {\n      resultado.innerHTML = \"<strong style='color:red;'>Por favor, preencha todos os campos obrigatórios.</strong>\";\n      return;\n    }\n\n    resultado.innerHTML = \"Capturando localização...\";\n\n    if (navigator.geolocation) {\n      navigator.geolocation.getCurrentPosition(function(pos) {\n        const latitude = pos.coords.latitude;\n        const longitude = pos.coords.longitude;\n\n        const dados = {\n          nome,\n          telefone,\n          endereco,\n          residuo,\n          observacao,\n          latitude,\n          longitude\n        };\n\n        resultado.innerHTML = `\n          <h4>Confirmando Coleta:</h4>\n          <p><strong>Nome:</strong> ${nome}</p>\n          <p><strong>Telefone:</strong> ${telefone}</p>\n          <p><strong>Endereço:</strong> ${endereco}</p>\n          <p><strong>Tipo de Resíduo:</strong> ${residuo}</p>\n          <p><strong>Observação:</strong> ${observacao || 'Nenhuma'}</p>\n          <p><strong>Localização:</strong> Latitude: ${latitude}, Longitude: ${longitude}</p>\n          <p style=\"color: green; font-weight: bold;\">Obrigado por contribuir para a proteção do meio ambiente!</p>\n        `;\n\n        scope.send({ payload: dados });\n      }, function(err) {\n        resultado.innerHTML = \"<strong style='color:red;'>Não foi possível obter sua localização.</strong>\";\n      });\n    } else {\n      resultado.innerHTML = \"<strong style='color:red;'>Geolocalização não é suportada neste navegador.</strong>\";\n    }\n  }\n\n  scope.enviar = enviar;\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "5293d2ff0176fdd8",
                "42331bc96780735c"
            ]
        ]
    },
    {
        "id": "5293d2ff0176fdd8",
        "type": "function",
        "z": "e0dfb35bea34b5fc",
        "name": "Montar URL Nominatim",
        "func": "const lat = msg.payload.latitude;\nconst lon = msg.payload.longitude;\n\nmsg.url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lon}&zoom=18&addressdetails=1`;\nmsg.savedData = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 400,
        "wires": [
            [
                "f2f5bb4cf9f244a5"
            ]
        ]
    },
    {
        "id": "f2f5bb4cf9f244a5",
        "type": "http request",
        "z": "e0dfb35bea34b5fc",
        "name": "Chamada Nominatim",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "872cb8efb8bbfdb0"
            ]
        ]
    },
    {
        "id": "872cb8efb8bbfdb0",
        "type": "function",
        "z": "e0dfb35bea34b5fc",
        "name": "Montar resposta final",
        "func": "const enderecoCompleto = msg.payload.display_name;\nconst dados = msg.savedData;\n\nmsg.payload = {\n  nome: dados.nome,\n  telefone: dados.telefone,\n  endereco: dados.endereco,\n  tipo_residuo: dados.residuo,\n  observacao: dados.observacao,\n  latitude: dados.latitude,\n  longitude: dados.longitude,\n  endereco_geolocalizado: enderecoCompleto,\n  mensagem: \"Obrigado por contribuir para a proteção do meio ambiente!\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "e5aaf862b70cb8cc"
            ]
        ]
    },
    {
        "id": "e5aaf862b70cb8cc",
        "type": "debug",
        "z": "e0dfb35bea34b5fc",
        "name": "Resultado Final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "42331bc96780735c",
        "type": "debug",
        "z": "e0dfb35bea34b5fc",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 360,
        "wires": []
    }
]